
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

h1{
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
  color: #FF4848;
  animation-name: initial;
  animation-delay :10s;
 

}

body{
  text-align: center;
  margin: 5% 20% 5% 20%;
  background-color:
  #9DDAC6;
  
  
}


.box{
  text-align: right;
  font-size: xx-large;
  height: 80px;
  width: 312px;
  border-radius: 10px 10px;
}

.container{
  text-align: center;
  position: relative;
  
}

.keys{
  display: grid;
  grid-template-columns:80px 80px 80px 80px;
  justify-content: center;

  
  
}

button{
  
  
  height: 80px;
  width: 80px;
  font-size: large;
  border-radius:10px 10px;
  background-color:#FF4848;
  cursor: pointer;

  
}

button:hover{
  background-color:#FAF3F3;
  color: black;

}

.item1{
  width:160px;
  grid-column: 1/span 2 ;
  background-color: #FF4848;
  border-radius:10px 10px;

}

.item18{
  width: 160px;

}

